Dependencies
node_modules/
.pnp/
.pnp.js
*.mjs

Build
dist/
build/
.serverless/
.esbuild/
.build/

Testing
coverage/
.spec.
.test.

Environment
.env*
.aws/

Logs
logs/
.log
npm-debug.log
yarn-debug.log*
yarn-error.log*

IDE
.idea/
.vscode/
*.swp
*.swo

System Files
.DS_Store
Thumbs.db

TypeScript
*.tsbuildinfo
*.d.ts

Misc
*.pem
stack-events.json
package-lock.json
yarn.lock
﻿
♠ LK ♤
lkgiovani
 
 
 
 
 
 
🔵​Golang  ​🔴BackGang 
​🟣Inimigo do front
https://portfolio.lkgiovani.com/
https://www.linkedin.com/in/lkgiovani
https://melhorzin.com/